<?xml version="1.0" encoding="UTF-8"?>
<config>
    <path>
		<pom>/media/again/f5970dba-48f8-4193-9ff0-c3576fa1ddf8/Projects/Java_SE/bakalarska_prace/isis_example/dom/pom.xml</pom>
		<input>/media/again/f5970dba-48f8-4193-9ff0-c3576fa1ddf8/Projects/Java_SE/bakalarska_prace/isis_example/dom/src/main/java/domainapp/dom/</input>
		<output>/media/again/f5970dba-48f8-4193-9ff0-c3576fa1ddf8/Projects/Java_SE/bakalarska_prace/isis_example/integtests/src/test/java/domainapp/integtests</output>
		<target>/media/again/f5970dba-48f8-4193-9ff0-c3576fa1ddf8/Projects/Java_SE/bakalarska_prace/isis_example/dom/target/classes</target>
	</path>
	<package>
		<input>domainapp.dom</input>
		<output>domainapp.integtests</output>
	</package>
	<tests>
		<set>com.bc.core.test.object.Generator</set>
	</tests>
	<!--dependencies>
		<dependency>CUSTOM_PATH</dependency>
		nepovinne ...
	</dependencies-->
</config>
